
.myMenu{
    position:fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.382);
}
.menuAnimate{
    position: relative;
}
@keyframes popin{
    0%   {left: -50vw;}
    100% {left:0vw;}
}
@keyframes popout{
    0%   {left: 0vw;}
    100% {left:-50vw;}
}